<link
  rel="preload"
  href="{{ 'article-loop.css' | asset_url }}"
  as="style"
  onload="this.onload=null;this.rel='stylesheet'"
>
<noscript><link rel="stylesheet" href="{{ 'article-loop.css' | asset_url }}"></noscript>

{%- style -%}
  .blog-template .article-loop__excerpt {
    text-align: {{ section.settings.text_align }};
  }

  .article-headline .article-actions .read-more span {
    color: {{ section.settings.read_more_text_color }};
  }
{%- endstyle -%}

{% if blog == blank %}
  {% for i in (1..items_per_page) %}
    <article class="article-loop__item {{ items_per_row }} relative article_wrapper--has-image {% if side_by_side %}grid__wrapper nest edge cg5{% endif %}">
      <div class="{% if side_by_side %}span-6 auto v-center{% else %} inline-block w100 mb6{% endif %}">
        <a class="demo-1 color-2 inline-block mb0 w100" href="#">
          {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
        </a>
        {% if section.settings.show_date %}
          <p class="article-loop__date has-image--true posted inline-block mb0 mr2">
            {{ 'now' | date: '%a, %b %d, %y' }}
          </p>
        {% endif %}
      </div>
      <div class="{% if side_by_side %}span-6 auto v-center{% endif %} article-loop__excerpt excerpt pt5">
        <h3 class="post-title mb5">
          <a class="no-hover" href="#"> Add a title or tagline </a>
        </h3>
        <div class="article-headline">
          <p class="rte">
            Share blog posts, products, or promotions with your customers. Use this text to describe products, share
            details on availability and style, or as a space to display recent reviews or FAQs.
            {%- if section.settings.show_author or section.settings.show_tags -%}
              <div class="article__rte--details">
                {%- if section.settings.show_author -%}
                  <p class="article__rte--author block">{{ 'blogs.article.by' | t }} Author Name</p>
                {%- endif -%}

                {%- if section.settings.show_tags -%}
                  <p class="article__rte--tags block">
                    {{ 'blogs.article.tagged' | t }}:&nbsp; <a href="">Tag 1</a>,&nbsp;<a href="">Tag 2</a
                    >,&nbsp;<a href="">Tag 3</a>
                  </p>
                {%- endif -%}
              </div>
            {%- endif -%}
          </p>
          <a class="button btn-outline" href="#">{{ 'blogs.article.read_more' | t }}</a>
          {% if blog.comments_enabled? and section.settings.show_comments %}
            <a class="inline-block mb0 ml3" href="#">{{ 'blogs.comments.comments_with_count' | t: count: i }}</a>
          {% endif %}
        </div>
      </div>
    </article>
  {% endfor %}
{% else %}
  {% for article in blog.articles limit: items_per_page %}
    {%- liquid
      assign has_image = false
      if article.image or article.content contains '<img'
        assign has_image = true
      endif

      if has_image and side_by_side
        assign image_width = 'span-4 push-1 auto v-center'
        assign excerpt_width = 'span-6 auto v-center'
      elsif has_image == false and side_by_side
        assign image_width = 'span-8 push-2 auto v-center'
        assign excerpt_width = 'span-8 push-2 auto v-center'
      endif

      assign loading = 'lazy'
      assign fetchpriority = 'auto'
      if section.index == 1 and forloop.index <= grid_items
        assign fetchpriority = 'high'
        assign loading = 'eager'
      elsif section.index == 2 and forloop.index <= grid_items
        assign loading = 'eager'
      endif
    -%}

    {% comment %} Separate categories and tags, identify selected ones {% endcomment %}
    {% assign categories = '' %}
    {% assign regular_tags = '' %}

    {% for tag in article.tags %}
      {% if tag contains 'category|' %}
        {% assign category_name = tag | split: 'category|' | last %}
        {% assign categories = categories | append: category_name | append: ',' %}
      {% else %}
        {% assign regular_tags = regular_tags | append: tag | append: ',' %}
      {% endif %}
    {% endfor %}

    {% assign unique_categories = categories | split: ',' | sort %}
    {% assign unique_tags = regular_tags | split: ',' | sort %}

    <article class="{{ items_per_row }} sm-span-12 relative {% if has_image %}article_wrapper--has-image{% endif %} {% if side_by_side %}grid__wrapper nest edge cg5 rg0{% endif %}">
      <div class="{{ image_width }} relative">
        {%- if article.image -%}
          {%- liquid
            assign has_image = true
            assign sm_render = '100vw'
            assign md_render = 'calc(100vw / ' | append: grid_items | append: ')'
            assign lg_render = 'calc(1600px / ' | append: grid_items | append: ')'
          -%}
          <a class="inline-block mb0 w100" href="{{ article.url }}">
            <span class="category info-category">{{ unique_categories }}</span>
            {% render 'helper-image',
              type: article.image,
              sm_render: sm_render,
              md_render: md_render,
              lg_render: lg_render,
              loading: loading,
              fetchpriority: fetchpriority,
              width: 600
            %}
          </a>
        {%- elsif article.content != blank and article.content contains '<img' -%}
          {%- assign has_image = true -%}
          {%- assign src = article.content | split: ' src="' | last | split: '"' | first -%}
          <a class="inline-block mb0 w100" href="{{ article.url }}">
            <span class="category info-category">{{ unique_categories }}</span>
            <img
              src="{{ src }}"
              width="{{ src.width }}"
              height="{{ src.height }}"
              alt="{{ article.title }}"
              loading="{{ loading }}"
            >
          </a>
        {%- else -%}
          {%- assign has_image = false -%}
        {%- endif -%}
        {% if section.settings.show_date %}
          {% assign published_at = article.published_at | date: format: 'month_date_year' %}
          <p class="article-loop__date posted has-image--{{ has_image }} inline-block mb0 mr2">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" class="article-loop__date__icon">
              <path d="M152 24c0-13.3-10.7-24-24-24s-24 10.7-24 24l0 40L64 64C28.7 64 0 92.7 0 128l0 16 0 48L0 448c0 35.3 28.7 64 64 64l320 0c35.3 0 64-28.7 64-64l0-256 0-48 0-16c0-35.3-28.7-64-64-64l-40 0 0-40c0-13.3-10.7-24-24-24s-24 10.7-24 24l0 40L152 64l0-40zM48 192l352 0 0 256c0 8.8-7.2 16-16 16L64 464c-8.8 0-16-7.2-16-16l0-256z"/>
            </svg>
            {{ published_at | date: '%a, %b %d, %y' }}
          </p>
        {% endif %}
      </div>
      <div class="{{ excerpt_width }} article-loop__excerpt pt3">
        <h3 class="post-title mb3">
          <a class="no-hover" href="{{ article.url }}">
            {{ article.title }}
          </a>
        </h3>
        <div class="article-headline">
          <p class="rte">
            {{ article.excerpt_or_content | strip_html | truncatewords: truncatewords }}

            {%- if section.settings.show_author or section.settings.show_tags -%}
              <div class="article__rte--details">
                {%- if article.author != blank and section.settings.show_author -%}
                  <p class="article__rte--author block">
                    {{ 'blogs.article.by' | t }}
                    {{ article.author }}
                  </p>
                {%- endif -%}

                {%- if unique_tags.size > 0 and section.settings.show_tags -%}
                  <p class="article__rte--tags block">
                    {{ 'blogs.article.tagged' | t }}:&nbsp;

                    {% for tag in unique_tags %}
                      <a href="{{ blog.url }}/tagged/{{ tag | handle }}">{{ tag }}</a>
                      {%- unless forloop.last %},{% endunless %}
                    {% endfor %}
                  </p>
                {%- endif -%}
              </div>
            {%- endif -%}
          </p>

          <div class="article-actions">
            <a class="read-more inline-block mb0 dlink" href="{{ article.url }}">
              <span class="navigation__top-level--hover">{{ 'blogs.article.read_more' | t }}</span>
            </a>
            {% if blog.comments_enabled? and section.settings.show_comments %}
              <a class="comments inline-block mb0 ml3" href="{{article.url}}#comments">
                <svg class="comments-icons" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512">
                  <path d="M88.2 309.1c9.8-18.3 6.8-40.8-7.5-55.8C59.4 230.9 48 204 48 176c0-63.5 63.8-128 160-128s160 64.5 160 128s-63.8 128-160 128c-13.1 0-25.8-1.3-37.8-3.6c-10.4-2-21.2-.6-30.7 4.2c-4.1 2.1-8.3 4.1-12.6 6c-16 7.2-32.9 13.5-49.9 18c2.8-4.6 5.4-9.1 7.9-13.6c1.1-1.9 2.2-3.9 3.2-5.9zM208 352c114.9 0 208-78.8 208-176S322.9 0 208 0S0 78.8 0 176c0 41.8 17.2 80.1 45.9 110.3c-.9 1.7-1.9 3.5-2.8 5.1c-10.3 18.4-22.3 36.5-36.6 52.1c-6.6 7-8.3 17.2-4.6 25.9C5.8 378.3 14.4 384 24 384c43 0 86.5-13.3 122.7-29.7c4.8-2.2 9.6-4.5 14.2-6.8c15.1 3 30.9 4.5 47.1 4.5zM432 480c16.2 0 31.9-1.6 47.1-4.5c4.6 2.3 9.4 4.6 14.2 6.8C529.5 498.7 573 512 616 512c9.6 0 18.2-5.7 22-14.5c3.8-8.8 2-19-4.6-25.9c-14.2-15.6-26.2-33.7-36.6-52.1c-.9-1.7-1.9-3.4-2.8-5.1C622.8 384.1 640 345.8 640 304c0-94.4-87.9-171.5-198.2-175.8c4.1 15.2 6.2 31.2 6.2 47.8l0 .6c87.2 6.7 144 67.5 144 127.4c0 28-11.4 54.9-32.7 77.2c-14.3 15-17.3 37.6-7.5 55.8c1.1 2 2.2 4 3.2 5.9c2.5 4.5 5.2 9 7.9 13.6c-17-4.5-33.9-10.7-49.9-18c-4.3-1.9-8.5-3.9-12.6-6c-9.5-4.8-20.3-6.2-30.7-4.2c-12.1 2.4-24.8 3.6-37.8 3.6c-61.7 0-110-26.5-136.8-62.3c-16 5.4-32.8 9.4-50 11.8C279 439.8 350 480 432 480z"/>
                </svg>
                {{- 'blogs.comments.comments_with_count' | t: count: article.comments_count -}}
              </a>
            {% endif %}
          </div>
        </div>
      </div>
    </article>
  {% endfor %}
{% endif %}
