<product-card class="product-card {{ classes }}">
  <a class="product-image" href="{{ product.url }}">
    <div
      class="product-image-bg"
      {% if product.featured_image !=blank %}
      style="background-image: url('{{ product.featured_image | image_url }}');"
      {% endif %}></div>
  </a>
  <div class="product-text">
    <h3>{{ product.title }}</h3>
    <p class="price">{{ product.price | money }}</p>
    {%- liquid
      assign product_form_id = 'product-card-form-' | append: product.id
    -%}

    <form id="{{ product_form_id }}" class="product-form">
      <input type="hidden" name="id" value="{{ product.variants.first.id }}" />
      {% if add_quantity_selector %}
      <div class="quantity-wrapper">
        <button type="button" class="quantity-btn" data-action="decrease">-</button>
        <input type="number" name="quantity" value="1" min="1" class="quantity-input" />
        <button type="button" class="quantity-btn" data-action="increase">+</button>
      </div>
      {% endif %}
      <button type="submit" value="Add to cart" class="add-to-cart-btn">Aggiungi al Carrello</button>
    </form>

  </div>
</product-card>