{% comment %} Footer Assets {% endcomment %}
<link rel="preload" href="{{ 'section-footer.css' | asset_url }}" as="style" onload="this.onload=null;this.rel='stylesheet'">
<noscript><link rel="stylesheet" href="{{ 'section-footer.css' | asset_url }}"></noscript>

<footer
  class="section-footer pt10 pb7"
  data-section-id="{{ section.id }}"
  data-section-type="footer-section"
  data-section-loaded="false">
  
  <section class="top-footer grid__wrapper">
    <div class="span-4 auto">
      {% if section.settings.footer_logo != blank %}
        <a class="footer-logo mb4 lh0 inline-block" href="{{ routes.root_url }}">
          {% render 'helper-image' type: section.settings.footer_logo, width: 800 %}
        </a>
      {% endif %}
      {% if section.settings.footer_text != blank %}
        {{ section.settings.footer_text }}
      {% endif %}
      {% if section.settings.show_social %}
        {% render 'snip-footer-social-icons' %}
      {% endif %}
    </div>
        <div class="footer-menus span-8 auto">
      <div class="footer-menu">
        <h4><strong>{{ section.settings.menu_1_title }}</strong></h4>
        <ul>
          {% for link in linklists[section.settings.footer_menu_1].links %}
            <li><a href="{{ link.url }}">{{ link.title }}</a></li>
          {% endfor %}
        </ul>
      </div>
      <div class="footer-menu">
        <h4><strong>{{ section.settings.menu_2_title }}</strong></h4>
        <ul>
          {% for link in linklists[section.settings.footer_menu_2].links %}
            <li><a href="{{ link.url }}">{{ link.title }}</a></li>
          {% endfor %}
        </ul>
      </div>
      <div class="footer-menu">
        <h4><strong>{{ section.settings.menu_3_title }}</strong></h4>
        <ul>
          {% for link in linklists[section.settings.footer_menu_3].links %}
            <li><a href="{{ link.url }}">{{ link.title }}</a></li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </section>

  <section class="footer-bottom grid__wrapper">
    <div class="copyright span-12 auto a-center">
      <small>
        {% if section.settings.show_copyright %}
          <a href="{{ routes.root_url }}">&copy; {{ 'now' | date: "%Y" }} {{ shop.name }}</a> •
        {% endif %}
        Via Angelo Ramazzotti, 24 - 20900 Monza (MB) - P.I. 03412400131 - C.S. € 10.000,00 i.v.
      </small>
      | <a href="https://www.iubenda.com/privacy-policy/7775888" title="Privacy Policy">Privacy Policy</a>
      | <a href="https://www.iubenda.com/privacy-policy/7775888/cookie-policy" title="Cookie Policy">Cookie Policy</a>
    </div>
    {% if section.settings.show_credit_cards %}
      <div class="payment-methods span-12 auto a-center">
        {% for type in shop.enabled_payment_types %}
          {{ type | payment_type_svg_tag: class:'payment-icon' }}
        {% endfor %}
      </div>
    {% endif %}
  </section>
</footer>

{% schema %}
{
  "name": "Footer",
  "settings": [
    {
       "type": "header",
       "content": "Footer Top"
    },
    {
      "type": "image_picker",
      "id": "footer_logo",
      "label": "Logo"
    },
    {
      "type": "richtext",
      "id": "footer_text",
      "label": "Text",
      "default": "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut laborez.</p>"
    },
    {
      "type": "checkbox",
      "id": "show_social",
      "label": "Show social icons",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "enable_follow_on_shop",
      "default": true,
      "label": "Enable Follow on Shop",
      "info": "To allow customers to follow your store on the Shop app from your storefront, Shop Pay must be enabled. [Learn more](https://help.shopify.com/manual/online-store/themes/customizing-themes/follow-on-shop)"
    },
    {
       "type": "header",
       "content": "Footer Bottom"
    },
    {
      "type": "link_list",
      "id": "footer_nav",
      "label": "Footer menu",
      "default":"footer"
    },{
  "type": "text",
  "id": "menu_1_title",
  "label": "Titolo menu 1",
  "default": "INFO E-COMMERCE"
},
{
  "type": "link_list",
  "id": "footer_menu_1",
  "label": "Menu Info E-commerce",
  "default": "footer"
},
{
  "type": "text",
  "id": "menu_2_title",
  "label": "Titolo menu 2",
  "default": "LINK UTILI"
},
{
  "type": "link_list",
  "id": "footer_menu_2",
  "label": "Menu Link Utili",
  "default": "footer"
},
{
  "type": "text",
  "id": "menu_3_title",
  "label": "Titolo menu 3",
  "default": "PRODOTTI"
},
{
  "type": "link_list",
  "id": "footer_menu_3",
  "label": "Menu Prodotti",
  "default": "footer"
},

    {
      "type": "checkbox",
      "id": "show_credit_cards",
      "label": "Show payment icons",
      "default": true,
      "info": "The icons that show are determined by your store's payment settings."
    },
    {
      "type": "checkbox",
      "id": "show_copyright",
      "label": "Show site name and copyright",
      "default": true
    },
    {
       "type": "header",
       "content": "Language Selector",
       "info": "To add a language, go to your [language settings.](/admin/settings/languages)"
    },
    {
      "type": "checkbox",
      "id": "show_locale_selector",
      "label": "Enable language selector",
      "default": true
    },
    {
       "type": "header",
       "content": "Country/Region Selector",
       "info": "To add a country/region, go to your [payment settings.](/admin/settings/payments)"
    },
    {
      "type": "checkbox",
      "id": "show_country_selector",
      "label": "Enable country/region selector",
      "default": true
    }
  ]
}
{% endschema %}
